XPath/Parctica20260319/practica20260319.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bibliotecaTecnica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recurso" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="autor" type="xs:string" maxOccurs="unbounded"/>
                            <xs:element name="anio" type="xs:integer"/>
                            <xs:element name="categoria">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="XML"/>
                                        <xs:enumeration value="HTML"/>
                                        <xs:enumeration value="CSS"/>
                                        <xs:enumeration value="JSON"/>
                                        <xs:enumeration value="XPath"/>
                                        <xs:enumeration value="XSLT"/>
                                        <xs:enumeration value="Web Standards"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="nivel">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1"/>
                                        <xs:maxInclusive value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="disponible" type="xs:boolean"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                        <xs:attribute name="formato" type="xs:string" default="PDF"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>