XPath/CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xs:simpleType name="TipoIdServidor">
        <xs:restriction base="xs:string">
            <xs:pattern value="srv-[a-z]+-[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoZona">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}-[a-z]+-\d+" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoRack">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{1,2}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoEstado">
        <xs:restriction base="xs:string">
            <xs:pattern value="activo|mantenimiento|apagado" />
        </xs:restriction>
    </xs:simpleType>
    
    <!--Misión 1-->
    <xs:attributeGroup name="AtributosServidor">
        <xs:attribute name="id" type="TipoIdServidor" use="required" />
        <xs:attribute name="rack" type="TipoRack" use="required" />
        <xs:attribute name="estado" type="TipoEstado" use="required" />
    </xs:attributeGroup>
    
    <!--Misión 2-->
    <xs:group name="ComponentesHardware">
        <xs:sequence>
            <xs:element name="cpu" type="xs:string" />
            <xs:element name="ram" type="xs:string" />
            
            <!--Misión 3-->
            <xs:element name="gpu" type="xs:string" minOccurs="0" />
            
            <xs:element name="discos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="disco" maxOccurs="8">
                            <xs:complexType>
                                <xs:attribute name="tipo" type="xs:string" use="required" />
                                <xs:attribute name="capacidad_tb" type="xs:integer" use="required" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    
    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="centro_datos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:group ref="ComponentesHardware" />
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="software" type="xs:anyType" />
                                        
                                        <!--Misión 4-->
                                        <xs:element name="red">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="ip_fija">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="dhcp">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="si" />
                                                                <xs:enumeration value="no" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <!--Misión 5-->
                                        <xs:element name="auditoria">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="fecha_revision" type="xs:date" />
                                                    <xs:element name="tecnico" type="xs:string" />
                                                    <xs:element name="nota" type="xs:string" />
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    
                                    <xs:attributeGroup ref="AtributosServidor" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ubicacion" type="xs:string" use="required" />
                        <xs:attribute name="zona" type="TipoZona" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="empresa" type="xs:string" use="required" />
        </xs:complexType>
        
        <!--Misión 6-->
        <xs:unique name="UnicoID">
            <xs:selector xpath=".//servidor" />
            <xs:field xpath="@id" />
        </xs:unique>
    </xs:element>
    
</xs:schema>