XPath/CatalogoCloud_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:attributeGroup name="datosGestion">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="estado" type="xs:string"/>
        <xs:attribute name="ubicacion" type="xs:string"/>
    </xs:attributeGroup>
    
    <xs:group name="especificacionesTecnicas">
        <xs:sequence>
            <xs:element name="cpu" type="xs:string"/>
            <xs:element name="ram" type="xs:string"/>
            <xs:element name="almacenamiento" type="xs:string" minOccurs="0" maxOccurs="4"/>
        </xs:sequence>
    </xs:group>
    
    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="servidor" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            
                            <xs:choice>
                                <xs:element name="mac_address" type="xs:string"/>
                                <xs:element name="id_interno" type="xs:string"/>
                            </xs:choice>
                            
                            <xs:group ref="especificacionesTecnicas"/>
                            
                            <xs:element name="notas_mantenimiento" minOccurs="0">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="fecha" type="xs:date"/>
                                        <xs:element name="autor" type="xs:string"/>
                                        <xs:element name="comentario" type="xs:string"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            
                        </xs:sequence>
                        
                        <xs:attributeGroup ref="datosGestion"/>
                        
                    </xs:complexType>
                </xs:element> </xs:sequence>
        </xs:complexType>
        
        <xs:unique name="unicoIdServidor">
            <xs:selector xpath="servidor"/>
            <xs:field xpath="@id"/> 
        </xs:unique>
        
    </xs:element>
    
</xs:schema>