practicaXquery/catalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contenido" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="genero" type="xs:string"/>
                            <xs:choice>
                                <xs:element name="temporadas" type="xs:int"/>
                                <xs:element name="duracion" type="xs:int"/>
                            </xs:choice>
                            <xs:element name="visualizaciones" type="xs:int"/>
                            <xs:element name="valoracion" type="xs:float"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="tipo" type="xs:string" use="required"/>
                        <xs:attribute name="estado" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>